# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/

# Virtual environment
.venv/
.venv311/
venv/
env/

# Model checkpoints
milestone2_qa_model.pt
milestone3_distilbert_qa/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
